.Results {
  text-align: left;
}

.Results .Word {
  border: 1px solid #d9d8d9;
  border-radius: 6px;
  margin-top: 30px;
  background-color: #fbecec;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-bottom: 10px;
}
